:root {
    --grid-template-columns: 15rem 15rem 15rem;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    min-width: 50rem;
}

header {
    background-color: rgb(61, 224, 126);
    background-image: url('./assets/ninjahead.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 20rem;
}

header h1 {
    text-align: center;
    font-size: 4rem;
}

header aside {
    padding: 1rem;
}

header aside img {
    width: 1rem;
}

main {
    color: white;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    justify-content: center;
    padding: 3rem 0;
    font-size: 0.7rem;
    gap: 4rem 1rem;
}

main button {
    background-color: rgb(255, 72, 72);
    border-radius: 3px;
    border-style: none;
    color: white;
    padding: 0.5em 1em;
    font-size: 0.6rem;
    margin-top: 2rem;
}

main h2 {
    font-size: 1.4rem;
}

img {
    width: 15rem;
}

footer {
    height: 10rem;
    background-color: rgb(51, 51, 51);
    color: white;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    justify-content: center;
    gap: 1rem;
    padding: 1rem auto;
}

footer img {
    width: 1rem;
}

footer * {
    font-style: normal;
    font-size: 0.6rem;
    line-height: 1rem;
}

footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0
}